react-navigation
react-native-vector-icons
react-native-gesture-handler
@react-navigation/stack
@react-navigation/native
react-native-gesture-handler 
react-native-reanimated 
react-native-screens
react-native-safe-area-view 
react-native-safe-area-context
@react-native-community/masked-view
@react-navigation/native